<div id="<%= dom_id user %>">
  <p>
    <%# 最後に翻訳する %>
    <strong>ユーザーアイコン<%#= User.human_attribute_name(:email) %>:</strong>
    <% if user.avatar.attached? %>
      <%= image_tag user.avatar.variant(:thumb) %>
    <% else %>
    <%# 最後に翻訳する %>
      未設定
    <% end %>
  </p>

  <p>
    <strong><%= User.human_attribute_name(:email) %>:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong><%= User.human_attribute_name(:name) %>:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong><%= User.human_attribute_name(:postal_code) %>:</strong>
    <%= user.postal_code %>
  </p>

  <p>
    <strong><%= User.human_attribute_name(:address) %>:</strong>
    <%= user.address %>
  </p>

  <p>
    <strong><%= User.human_attribute_name(:self_introduction) %>:</strong>
    <%= user.self_introduction %>
  </p>

</div>
