<p style="color: green"><%= notice %></p>

<h1><%= t('books.index.title') %></h1>

<div id="books" class="index-items">
    <% @books.each do |book| %>
    <div class="index-item">
        <%= render book %>
        <p>
            <%= link_to t('common.actions.show'), book %>
        </p>
    </div>
    <% end %>
</div>
<nav class="page-nav">
  <%= link_to t('common.actions.new'), new_book_path %>
</nav>
