<p><%= t('.greeting') %><%= @resource.email %>!</p>

<p><%= t('.someone_requested_change') %></p>

<p><%= link_to t('.change_my_password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('.ignore_if_not_requested') %></p>
<p><%= t('.not_changed_notice') %></p>
