<div id="<%#= dom_id book %>">

  <p>
    <strong><%= Report.human_attribute_name(:date_created) %>:</strong>
    <%= report.created_at %>
  </p>

  <p>
    <strong><%= Report.human_attribute_name(:title) %>:</strong>
    <%= report.title %>
  </p>

  <p>
    <strong><%= Report.human_attribute_name(:body) %>:</strong>
    <%= report.body %>
  </p>
</div>
