<div id="<%= dom_id report %>">

  <p>
    <strong><%= t('views.common.create_date', name: Report.model_name.human.downcase) %>:</strong>
    <%= l report.created_at, format: :long%>
  </p>

  <p>
    <strong><%= t('views.common.user') %>:</strong>
    <%= report.user.display_name %>
  </p>

  <p>
    <strong><%= Report.human_attribute_name(:title) %>:</strong>
    <%= report.title %>
  </p>

  <p>
    <strong><%= t('views.common.content_item', name: Report.model_name.human.downcase) %>:</strong>
    <%= report.body %>
  </p>
</div>
