<h1><%= t('views.common.title_show', name: Report.model_name.human) %></h1>

<div class="show-item">
  <%= render @report %>
</div>

<nav class="page-nav">
  <% # ログインユーザーと、日報を作成したユーザーが一致したら、編集リンクを表示 %>
  <% if current_user.id == @report.user_id %>
    <%= link_to t('views.common.edit', name: Report.model_name.human.downcase), edit_report_path(@report) %>
  <% end %>

  <%= link_to t('views.common.back', name: i18n_pluralize(Report.model_name.human.downcase)), reports_path %>

  <% if current_user.id == @report.user_id %>
    <%= button_to t('views.common.destroy', name: Report.model_name.human.downcase), @report, method: :delete %>
  <% end %>  
</nav>

<% # コメントの表示%>
<p>コメント一覧</p>
<% if @comments.present? %>
    <% @comments.each do |comment| %>
    <div class="show-item">
    <p>
      <strong>コメント投稿日:</strong>
      <%= comment.created_at %>
    </p>
    <p>
      <strong>ユーザー:</strong>
      <%= comment.display_name %>
    </p>
    <p>
      <strong>コメントの内容:</strong>
      <%= comment.body %>
    </p>
    <% if current_user.id == comment.user_id %>
      <%= button_to 'コメントを削除', report_comment_path(@report, comment), method: :delete %>
    <% end %>
    </div>
  <% end %>
<% else %>
  <p>コメントなし</p>
<% end %>

<% # コメント作成 %> 
<p>コメントを投稿</p>
<div class="show-item">
<%= form_with(model: [@report, @comment], url: polymorphic_path([@report, @comment])) do |form| %>
  <div>
    <%= form.label "コメント作成", style: "display: block" %>
    <%= form.text_area :body, required: true %>
  </div>
  
  <div>
    <%= form.submit %>
  </div>
<% end %>
</div>
